<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Catch the wind with your windsurfing, kitesurfing, or surfing buddies.">
    <meta name="author" content="An open source website promoting windsurfing, kitesurfing and surfing">  

    <title>WindySurf - Windsurfing, kitesurfing, surfing check-in website.  Catch the wind with your buddies.</title>

    <!-- Bootstrap Core CSS -->
    <link href= "/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/grayscale.css" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href="/static/css/font.lora.css" rel="stylesheet" type="text/css">
    <link href="/static/css/font.montserrat.css" rel="stylesheet" type="text/css">
	
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
	
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/grayscale.js"></script>

    <script src="/static/js/RecordRTC.js"></script>

    <script>
    $.ajaxSetup({
      data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    var Base = this.Base = {
        timez: function() {
            /* https://stackoverflow.com/questions/1091372/getting-the-clients-timezone-in-javascript */
            function timezone() {
                var offset = new Date().getTimezoneOffset();
                var minutes = Math.abs(offset);
                var hours = Math.floor(minutes / 60);
                var prefix = offset < 0 ? "+" : "-";
                return prefix+hours;
            }
            var tz = timezone();
            var no_redirect = false;
            
            if (tz == -7) {
                // california
            }
            
            if ((tz >= -4) && (tz <= -1 ) ) {   
                // east coast and atlantic to westernmost shore afr
                // use react
                // blocking east coast for now
                if (window.location.pathname != "yivwiy.html" && window.location.pathname != "/yivwiy.html" && !(no_redirect)) 
                	window.location = '/yivwiy.html'; //hebrew
            }
            
            if ((tz >= -8) && (tz <= -5 ) ) {  
                //from alaska to central inclusive
                no_redirect = true;
            } if ((tz <= 2 && tz <= 3)) {
                // europe
                //if (window.location.pathname != "europe.html" && window.location.pathname != "/europe.html" && !(no_redirect)) 
                //	window.location = '/europe.html'; //hebrew
            } else if ((tz < 3 && tz <= 12)) {
                //if (window.location.pathname != "russian.html" && window.location.pathname != "/russian.html" && !(no_redirect)) 
                //	window.location = '/russian.html'; //hebrew
            } else {
		        
            }
        },
        anchor_click: function() {
            if(window.location.hash) {
              var hash = window.location.hash.substring(1); //Puts hash in variable, and removes the # character
              console.log(hash);
              if (hash == 'login') {
                {% if not request.user.is_authenticated %}
                    $('button[data-toggle="#modal-login-register"]').click();
                {% endif %}
              }
              // hash found
            } else {
              // No hash found
            }
        },
        logout: function() {
            $.post( "/api/accounts/logout/",
                    { },
                    function(response) {
                        var uri = window.location.href.split("#")[0];
                        window.location.href = uri;
                    }
            );
        }
    };

    </script>

	{% block js %}
	
	{% endblock %}
	
	{% block css %}
	
	{% endblock %}

    {% block cssvariable %}
        <style>
            body !important {
                background-color; #fff;
                color: #000;
            }
            .intro {
                background-image: transparent;
                /* background: url(../img/intro-bg.jpg) no-repeat bottom center scroll; */
                background-color: #fff;
                color: #428bca;
            }

            #exTab3 .tab-content {
              color : white;
              background-color: #428bca;
              padding : 5px 15px;
            }

            #exTab3 .nav-pills > li > a {
              border-radius: 4px 4px 0 0 ;
            }

        </style>
    {% endblock %} 
	
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <div class='navbar-behind'></div>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="glyphicon glyphicon-align-justify"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <i class="glyphicon" onclick=''>&#x2764;</i>
                    <span class="light"><b style='color:green'>Windy</b><b><label style='color:green; position: relative;'><label style='position: absolute; top: 0; left: 0; font-size:;'></label></label>Surf</b><!--{{chai}}--></span><span class="light"></span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    
                    {% block navbar %}

                        {% if not waiver %}

                        {#
                        <li>
                            <a class="page-scroll" href="/compare">Compare providers</a>
                        </li>
                        #}

                        <li>
                            <a class="page-scroll" href="/news">News</a>
                        </li>

                        {% endif %}

                        {% if request.user.is_authenticated %}
                            <li>

                                <a href="#" class="page-scroll"><i class="glyphicon glyphicon-user"></i> {{request.user.username}}</a>
                            </li>
                        {% endif %}


                        {% if sesssion.activated %}
                        <li>
                            <a class="page-scroll modal-activate" onclick="return false;" data-toggle="#modal-upload" data-target="#modal-upload" href="#modal-upload"><i class="glyphicon glyphicon-headphones"></i> Activated</a>
                        </li>
                        {% endif %}

                        {% if request.user.is_authenticated and request.user.is_superuser %}
                            <li>
                                <a class="page-scroll" href="http://{{settings.DOMAIN}}:5984/_utils/">Admin</a>
                            </li>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                            <li>
                                <a class="page-scroll" href="#logout" onclick="Base.logout(); return false;">Logout</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="page-scroll" href="#login">Login</a>
                            </li>
                        {% endif %}

                    {% endblock %}


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    {% block header %}
    <header class="masthead {% block header_classes %}{% endblock %}">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                    <div class="header-content mx-auto">
                        {% block header_msg %}
                        <h1 class="mb-5">
                            Longevity for all, especially the sick.  
                        </h1>
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="background: #fff;">
                            Spread love ❤
                        </button>
                        {% endblock %}
                    </div>
                </div>


                <div class="col-lg-5 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}

	{% block content %}

	{% endblock %}
	
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p style='font-size:.9em;'>
            This site is powered by <span onclick="localStorage.removeItem('agreedTerms'); return false;">volunteerism</span>, a love of windsurfing, kitesurfing and good-old wave surfing.  Enjoy it and contribute as it is open source completely!
            <br/><br/>  
            <a href="mailto:{{settings.EMAIL}}">{{settings.EMAIL}}</a> </p>
        </div>
    </footer>

    {% block modal %}
    <!-- modal -->

    {% endblock %}

    {% block jsfooter %}
    <script>
        $(document).ready(function () {
            Base.anchor_click();
            $(".modal-activate").click(function(){
                var data_toggle = $(this).attr('data-toggle');
                $(data_toggle).modal();
            });
            //timezones
            Base.timez();
        });

    </script>
    {% endblock %}

</body>

</html>
