{% extends 'index.html' %} 

{% block css %}

	<style>
		section#shiurs .list-group-item {
			text-align: left;
		}
        
        section#eternities .modal-body p {
            text-align: left;
            padding: 18px;
        }

        .form-login .input-group-addon {
            display:none;
        }

        @media(min-width:467px) {
            .form-login .input-group-addon {
                display:inline;
            }
        }

        /* iframe */
        @media(min-width:218px) {
            
        }

        @media(min-width:388px) {
            
        }

	</style>

{% endblock %}

{% block js %}
    <script>
        var BaseHome = this.BaseHome = {
            logout: function() {
                $.post( "api/accounts/logout/",
                        { },
                        function(response) {
                            alert(response);
                            window.location.reload(true);
                        }
                );
            }
        };
        
        var x = document.getElementById("insert");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else { 
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            x.innerHTML = "Latitude: " + position.coords.latitude + 
            "<br>Longitude: " + position.coords.longitude;
            window.alert("Dpne");
        }

        function showError(error) {
            switch(error.code) {
                case error.PERMISSION_DENIED:
                    x.innerHTML = "You have no permission!";
                    break;
            }
        }

    </script>
{% endblock %}

{% block header_msg %}
    <h1 class="mb-5">Check-in at the beach with your friends!</h1>
    <p>
        Find out which friends are surfing at which beach with WindySurf! 
    </p>
    <button type="button" class="btn btn-default" data-dismiss="modal" style="background: #fff;">Spread WindySurf ❤</button>
{% endblock %}

{% block content %}

    {% if hi_video %}
        <!-- Intro Header -->
        <header class="intro">
            <div class="intro-body" style=''>
                <div class="container" style='padding-left:0;'>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">

                            {% if hi_video %}
                                <span id='daily_shiur_span' class="btn btn-primary btn-lg" style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis;' href="" role="button">{{daily_shiur.title}}</span><Br/><br/>

                                <h1 class="brand-heading brand-daily-shiur" style='display:none;padding-left:15px;'>{{hi_video.title}}</h1>
                                
                                {% if hi_video.video_url %}
                                    <iframe id="player_1" style="margin-left: 20px;" src="{{daily_shiur.video_url}}" frameborder="0" width="90%" height="300"></iframe>
                                {% endif %}
                            
                                <div>
                                    <button class='btn'><i class='glyphicon glyphicon-chevron-left'></i></button>
                                    <button class='btn'><i class='glyphicon glyphicon-chevron-right'></i></button>
                                </div>
                           
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </header>

    {% endif %}
    
    <section id="eternities" class="container content-section text-center">
        <br/><br/>
        <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Apps for Android and iPhone available!</h4>
                </div>
                <div class="row modal-body">
                    
                    <p>
                        Download our apps for Android and iPhone to check-in before you windsurf, kitesurf or surf! 
                    </p>

                </div>
                <div class="modal-footer">

                    {% if request.user.is_authenticated %}
                    <div class="dropdown" style='display:inline;'>

                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class='glyphicon glyphicon-eye-close'></i> Friends only
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#"><i class='glyphicon glyphicon-eye-close'></i> Friends only</a></li>
                        <li><a href="#"><i class='glyphicon glyphicon-eye-open'></i> Web</a></li>
                      </ul>
                    </div>

                    <button type="button" class="btn btn-info" data-dismiss="modal">Logout</button>
                    {% else %}
                        <button type="button" class="btn btn-info" data-dismiss="modal">Spread love &#x2764;</button>
                    {% endif %}
                </div>
            </div>
            <br/><br/>
        
        {% for eternity in eternities %}
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{eternity.title}} <!-- title --></h4>
                </div>
                <div class="row modal-body">
                    <!-- message -->
                    {% if eternity.message %}
                    <p>
                        {{eternity.message}}
                    </p>
                    {% endif %}

                    <div class="list-group">
                        {% for sefer in sfarim %}
                            <a href="" class="list-group-item" style="border-radius: 0 !important; border-width: 1px 0px !important;">

                                {% if request.user.is_authenticated %}
                                <span class="badge"><i title="Edit title" class='glyphicon glyphicon-pencil'></i></span>
                                <span class="badge"><i title="Hide" class='glyphicon glyphicon-lock'></i></span>
                                <span class="badge"><i title="Publish publicly" class='glyphicon glyphicon-bullhorn'></i> </span>
                                <span class="badge"><i title="Deletes" class='glyphicon glyphicon-remove-sign'></i></span>
                                {% endif %}
                            {{sefer.title|safe}}
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">

                    {% if request.user.is_authenticated %}
                    <div class="dropdown" style='display:inline;'>

                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class='glyphicon glyphicon-eye-close'></i> Friends only 
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#"><i class='glyphicon glyphicon-eye-close'></i> Friends only</a></li>
                        <li><a href="#"><i class='glyphicon glyphicon-eye-open'></i> Web</a></li>
                      </ul>
                    </div>

                    <button type="button" class="btn btn-info" data-dismiss="modal">Logout</button>
                    {% else %}
                        <button type="button" class="btn btn-info" data-dismiss="modal">Spread love &#x2764;</button>
                    {% endif %}
                </div>
            </div>
            <br/><br/>
        {% endfor %}
    </section> 
    
    {% if settings.ALLOW_LOGIN %}
    <!-- Login or rogister Section -->
    <section id="login" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Login or Register</h2>
                <p>
                    <button data-toggle='#modal-login-register' class="btn btn-default modal-activate"><i class="glyphicon glyphicon-user"></i> Login/register</button>
                </p>

            </div>
        </div>
    </section>
    {% endif %}
    
    {#
    <!--  Section -->
    <section class="masthead content-section text-center">
        <div class="">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact the volunteers at Freeternity</h2>
                    We would love to get to know each and every one of you.  Eternal life truly is a gift from on High and 
                    is given to those who do the greatest goodnesses to human existance.  It all starts with a little bit of love, that moment when you feel such a tremendous connection to the greatest being that isn't a being at all.  You feel it, on a boat, a windsurfing sail, or on the slopes, you say "ahhhh, I love you so much" and at that moment you are alive.  
                </div>
            </div>
        </div>
    </section>
    #}

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p><a href="mailto:{{settings.EMAIL}}">{{settings.EMAIL}}</a>
                </p>
                <!--
                <ul class="list-inline banner-social-buttons">
                    <li></li>
                </ul> -->
            </div>
        </div>
    </section>

{% endblock %}

{% block modal %}

    {% include "modals/modal_login.html" %}
    {% include "modals/modal_record.html" %}

{% endblock %}
