{% extends 'index.html' %} 

{% block css %}

	<style>
		section#shiurs .list-group-item {
			text-align: left;
		}
        
        section#eternities .modal-body p {
            text-align: left;
            padding: 18px;
        }

        .form-login .input-group-addon {
            display:none;
        }

        @media(min-width:467px) {
            .form-login .input-group-addon {
                display:inline;
            }
        }

        /* iframe */
        @media(min-width:218px) {
            
        }

        @media(min-width:388px) {
            
        }

	</style>

{% endblock %}

{% block js %}
    <script>
        if (localStorage.getItem('agreedTerms') == 'true') {
            window.location.href = '/news';
        }
        var BaseHome = this.BaseHome = {
            logout: function() {
                $.post( "api/accounts/logout/",
                        { },
                        function(response) {
                            alert(response);
                            window.location.reload(true);
                        }
                );
            }
        };

    </script>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

    <section id="eternities" class="container content-section text-center">
        
        <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Terms of Service</h4>
                </div>
                <div class="row modal-body">
                    
                    <p>
                        
                        It is my desire to
                         participate in the Surfing, Kitesurfing or Windsurfing 
                        Activity (the “Activity”) offered in my vicinity or by WindySurf (collectively "WindySurf").  As a precondition to 
                        participating in the Activity, I have read the following Agreement (the “Agreement”) and agree to its terms.
                        
                        <br/><br/>
                        
                        <b>Assumption of Risk.</b><br/>
                          I understand that participating in the Activity entails inherent risks of physical injury or death, including but not limited to, the risks  described.  Having  read  this  form,  I  am  fully  aware  of  the inherent
                          risks  and  hazards  associated  with  the  Activity
                          sport  of  surfing,  windsurfing and kitesurfing, that injuries are normal and ordinary occurrences.  Windsurfing, Kitesurfing, surfing, kayaking, and snorkeling are dangerous sports with hazards, not limited to: rocks, reefs, ocean life and rip currents; hereby elect to voluntarily participate in the Activity.  I voluntarily assume full responsibility for any risks of loss,  property  damage  or  personal  injury,  including  death,  that  may  be  sustained  by  me,  my  dependent  or spouse as  a  result  of  participating  in  the Activity,  including any gross  negligence  or  willful  misconduct of WindySurf, its officers,  trustees,  agents  or  volunteers (collectively referred to as the “WindySurf”). 
                        <br/><br/>
                        <b>Liability Release.</b><br/>  In consideration for WindySurf allowing me to participate in the Activity, I agree I will not sue WindySurf and I release WindySurf from any and all liabilities, claims, demands, actions, causes of actions, costs and expenses of any nature whatsoever arising out  of  any  loss,  damage, or  injury,  including  death,  that  may  be  sustained  by  me  or  to  any  property  belonging  to  me,  arising  from the Activity
                          or while upon the premises where the Activity being conducted, excepting those claims arising from the gross negligence or willful misconduct of WindySurf.
                        <br/><br/>
                          <b>Indemnification.</b><br/>  I  agree  to  indemnify  and  hold  harmless  the  WindySurf  from  and  against  any  loss,  liability,  damage  or  costs,  including court costs and attorneys’ fees, that WindySurf may incur arising from my involvement in the 
                        
                          Activity, including any claims arising from the gross negligence or willful misconduct of WindySurf.   
                        
                        <br/><br/>
                        <b>Physical Fitness.</b><br/>
                          
                        I warrant that I am physically fit and in good condition that will allow me to participate fully in the 
                        
                        Activity.  I maintain medical insurance that covers me for accidents and illnesses while I am participating in this Activity.  I understand WindySurf has not made, nor will  make,  any  investigation  into  my  physical  fitness  or  ability  to  participate  in  the  Activity,  and  that  WindySurf  is  relying  on  my  warranty  of  my physical condition.  I assume full responsibility for payment of medical expenses not covered by my insurance incurred as a result of my participation in the Activity. 
                        <br/><br/>
                        
                        <b>Medical Treatment Authorization.</b>  
                        
                        <br/>
                        I  understand  and  agree  that  the  WindySurf  assumes  no responsibility for any injury or damage to my dependent, spouse or myself, that might arise out of or in connection with any of my or surrounding actions.   
                        
                        <br/><br/>
                        <b>Conduct.</b>
                        <br/>
                        I acknowledge and agree that this is a dangerous and life-threatening Activity and hereby waive all liability.  I will  comply  with all local  law  and  customs.    I  hereby  waive  and  release  all  claims  against  WindySurf  and  it  agents  related  to any of my actions during, before or after the Activity.   
                        <br/><br/>
                        <b>Intent.</b>    
                        <br/>
                        It  is  my  express  intent  that  this  Agreement  shall  bind  the  members  of  my  family  and /or spouse  (if  any),  my  estate,  heirs,  administrators, assigns, and personal representatives.  I agree that this Agreement and any claim arising from my participation in the Activity shall be construed  in  accordance  with  the  laws  of  the  State  of  California,  without  regard  to  its  conflict  of  laws  provision.    The  courts  in Denton County, Texas,  shall  be  the  forum  for  any  lawsuits  arising  from  the  Activity or  incident  to  this  Agreement.    The  terms  of  this  Agreement  shall  be  
                        severable, such that if a court of competent jurisdiction holds any term to be illegal or unenforceable, the validity of the remaining portions of shall not be affected thereby.  By  signing  this  Agreement,  I have  read,  understand,  and agree  to  be  bound  by  its  terms.  If  the  participant  is  a  minor,  the  undersigned  
                        parent or legal guardian warrants and represents that this Agreement, its significance and the assumption of risk, has been explained to and understood  by  my  minor child  or  my  dependent.  I  hereby  declare,  under  penalty  of  perjury,  that  I  am  the  parent  or  legal  guardian  of  the  
                        named participant.
                        
                    
                    </p>

                </div>
                <div class="modal-footer">

                    {% if request.user.is_authenticated %}
                    <div class="dropdown" style='display:inline;'>

                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class='glyphicon glyphicon-eye-close'></i> Friends only
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#"><i class='glyphicon glyphicon-eye-close'></i> Friends only</a></li>
                        <li><a href="#"><i class='glyphicon glyphicon-eye-open'></i> Web</a></li>
                      </ul>
                    </div>

                    <button type="button" class="btn btn-info" data-dismiss="modal">Logout</button>
                    {% else %}
                        <button type="button" data-toggle="#modal-waiver-liability" data-target="#modal-waiver-liability" href="#modal-waiver-liability" class="btn btn-info modal-activate" data-dismiss="modal">I agree to Terms</button>
                    {% endif %}
                </div>
            </div>
            <br/><br/>
        
        {% for eternity in eternities %}
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{eternity.title}}</h4>
                </div>
                <div class="row modal-body">
                    
                    {% if eternity.uplifting %}
                    <p>
                        {{eternity.uplifting}}
                    </p>
                    {% endif %}

                    <div class="list-group">
                        {% for sefer in sfarim %}
                            <a href="" class="list-group-item" style="border-radius: 0 !important; border-width: 1px 0px !important;">

                                {% if request.user.is_authenticated %}
                                <span class="badge"><i title="Edit title" class='glyphicon glyphicon-pencil'></i></span>
                                <span class="badge"><i title="Hide" class='glyphicon glyphicon-lock'></i></span>
                                <span class="badge"><i title="Publish publicly" class='glyphicon glyphicon-bullhorn'></i> </span>
                                <span class="badge"><i title="Deletes" class='glyphicon glyphicon-remove-sign'></i></span>
                                {% endif %}
                            {{sefer.title|safe}}
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">

                    {% if request.user.is_authenticated %}
                    <div class="dropdown" style='display:inline;'>

                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class='glyphicon glyphicon-eye-close'></i> Friends only</a>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#"><i class='glyphicon glyphicon-eye-close'></i> Friends only</a></li>
                        <li><a href="#"><i class='glyphicon glyphicon-eye-open'></i> Web</a></li>
                      </ul>
                    </div>

                    <button type="button" class="btn btn-info" data-dismiss="modal">Logout</button>
                    {% else %}
                        <button type="button" class="btn btn-info" data-dismiss="modal">Spread love &#x2764;</button>
                    {% endif %}
                </div>
            </div>
            <br/><br/>
        {% endfor %}
    </section>
    
    {% if settings.ALLOW_LOGIN %}
    {% if not settings.HTML_ONLY %}
    <!-- Login or rogister Section -->
    <section id="login" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Login or Register</h2>
                <p>
                    <button class="modal-activate" data-toggle='#modal-login-register' class="btn btn-default modal-activate"><i class="glyphicon glyphicon-user" data-toggle="#modal-waiver-liability" data-target="#modal-waiver-liability" href="#modal-waiver-liability"></i> Login/register</button>
                    
                </p>

            </div>
        </div>
    </section>
    {% endif %}
    {% endif %}
    
    {#
    <!--  Section -->
    <section class="masthead content-section text-center">
        <div class="">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact the volunteers at Freeternity</h2>
                    We would love to get to know each and every one of you.  Eternal life truly is a gift from on High and 
                    is given to those who do the greatest goodnesses to human existance.  It all starts with a little bit of love, that moment when you feel such a tremendous connection to the greatest being that isn't a being at all.  You feel it, on a boat, a windsurfing sail, or on the slopes, you say "ahhhh, I love you so much" and at that moment you are alive.  
                </div>
            </div>
        </div>
    </section>
    #}

{% endblock %}

{% block modal %}

    {% include "modals/modal_login.html" %}
    {% include "modals/modal_waiver_liability.html" %}

{% endblock %}
